<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<div class="card">
  <div class="card-header">
    Editing roles for <%= @user.email %>
  </div>
  <div class="card-body">
    <%= form_with(model: @user) do |f| %>
      <% if @user.errors.any? %>
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.message %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="d-flex">
        <%= f.collection_check_boxes :role_ids, Role.all, :id, :name do |box|  %>
          <div class="col px-2">
            <%= box.check_box %> | <%= box.text %>
          </div>
        <% end %>
      </div>
      <hr/>
      <%= f.button :submit, class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to 'Cancel', users_path, class: 'btn btn-danger' %>
  </div>
</div>
