 <div class="list-group">
   
    <li class="list-group-item active"><i class="fa fa-key"></i> <span>Categories</span></li>
    <% Category.all.each do |category| %>
    <%= link_to category.name, products_path(category: category.name), class:"list-group-item" %>
    <% end %>
    
  </div>     
<div class="container">
    <div class="row">
        <div class="bg-light col-sm-6>
    <% @products.each do |product| %>
<div class="card" style="width: 18rem; margin:5px">
  <%= image_tag product.image, class:"card-img-top", style:"width: 18rem; height: 10rem" %>
  <div class="card-header"><h4><%= link_to product.name, product %></h4></div>
  <div class="card-body">  
    <div class="row">
      <div class="col">
        <p class="btn btn-danger btn-block disabled"><%= product.price%> $</p>
      </div>
      <div class="col">
      <%= form_with model: @order_item do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, value: 1, min: 1, style:"display:none"%>
        <a><%= f.submit "Add To Cart", class:"btn btn-success btn-block" %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
    <% end %>
  </div>
  </div>
      </div>
            </div>
        </div>

    </div>
</div>

<% @categories.each do |category| %>

    
<div class="cat" style="margin-bottom:30px;margin-top:80px;text-align:center;">
 <h1> <%= link_to category.name, category %> </h1>
 <small><%= pluralize(category.products.count, "products") %></small>
 </div>
  <div class="info">
  <% category.products.order(id: :desc).limit(5).each do |product| %> 
<div class="product-row">
<%= image_tag(product.image, style: 'width:180px; height: 180px;')%>
   <h6> <%= product.name %> </h6>
   <h7> <%= product.price %> $ </h7> <br>
   </div>
   <% end %>
   </div>
  
 <% end %>