<div class="mx-auto col-md-10">
    <div class="card">
        <div class="card-image">
            <a href="/products">
                <h3>Shop now</h3>
                <img class="card-img-top img-fluid" src="https://archive.org/download/shoes-banner-mm-/shoes-banner-mm-.jpg" alt="Card image cap">
            </a>
        </div>
        <div class="banner card-body mx-auto">
            <div class="container">
 <center><h1> ✘ Shop by Category ✘</h1></center>
  <div class="row mt-3">
    <% Category.all.each do |category| %>   
    <div class="col-3">
      <div class="do-item do-item-circle do-circle">
         <% if category.image.present? %>
          <%= image_tag category.image, class:"do-item do-circle" %>
         <% end %>
        <div class="do-info-wrap do-circle">
          <div class="do-info">
            <div class="do-info-front do-circle"></div>
            <div class="do-info-back do-circle">
              <h3><%= link_to category.name, products_path(category: category.name) %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %> 
  </div>
</div>
        </div>
    </div>
</div>


<br/><br/>
<% @categories.each do |category| %>
<div class="container">
<div class="product-grid-title">
 <center><h1> ✘ <%= link_to category.name, category %> </h1>
  <small><%= pluralize(category.products.count, "products") %></small>
  </center>
  </div>
    <div class="row", style="padding-bottom:10%">
        <% category.products.order(id: :desc).limit(4).each do |product| %>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
  <% if product.image.present? %>
    <%= image_tag product.image, class:"card-img-top", style:"width: 18rem; height: 16rem" %>
  <% end %>
  <span class="product-discount-label"><%= product.price%>$</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><%= link_to product.name, product %></h3>
                    <div class="Add-to-cart">
                          <% if @order_item %>
        <%= form_with model: @order_item do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.number_field :quantity, value: 1, min: 1, style:"display:none" %>
          <%= f.submit "Add To Cart", class:"btn btn-light btn-sm" %>
        <% end %>
      <% else %>
        <%= link_to 'Add To Cart', new_user_session_path, class:'btn btn-light btn-sm' %>
      <% end %>
      </div>
                </div>
            </div>
        </div>
            <% end %>
    </div>
</div>
 <% end %>
