<p id="notice"><%= notice %></p>

<h2>
  <strong>Category:</strong>
  <%= @category.name %>
</h2>

<% @category.products.each do |product| %>
<p>
<%= product.name %> | <%= link_to "View Product", product %>
</p>
<% end %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
