
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
    <a href="/" class="navbar-brand">
      <img src="https://i.ibb.co/JC1GRVb/shoes-clipart-clipart-images-clipartwork-15.png" width="45" alt="" class="d-inline-block align-middle mr-2">
      <span class="text-uppercase font-weight-bold">Shoes As You Go</span>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                    <%= link_to "Home", root_path, class: "nav-item nav-link #{@home == 'home' ? 'active' : ''}" %>	
                </li>
                <li class="nav-item">
                    <%= link_to "All Products", products_path, class: "nav-item nav-link #{@home == 'products' ? 'active' : ''}" %>	
                </li>
                <li class="nav-item">
                    <%= link_to "Products by categories", categories_path, class: "nav-item nav-link #{@home == 'products' ? 'active' : ''}" %>	
                </li>
            </ul>
            <%= search_form_for @q do |f| %>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                <%= f.search_field :name_cont, class:"form-control", placeholder:"Search ..." %>
                </div>
                </form>
                <% end %>
            <form class="form-inline my-2 my-lg-0">
                <%= link_to cart_path, class:'btn btn-info btn-lg btn-sm ml-3' do %>
                <i class="bi bi-cart"></i> Cart
                <% end %>

                <% if current_user %>
                <%= link_to edit_user_registration_path, class:'btn btn-outline-info btn-sm ml-3' do %>
                <i class="bi bi-person"></i> <%= current_user.username.capitalize %>
                <% end %>
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"btn btn-info btn-sm ml-3" %>
                <% else %>
                  <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-info btn-sm ml-3" %>
                  <%= link_to "Sign In", new_user_session_path, class:"btn btn-info btn-sm ml-3" %>
                <% end %>
            </form>
        </div>
    </div>
</nav>
