
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <%= link_to "Sneakers Shop", root_path, class: "navbar-brand #{@home == 'home' ? 'active' : ''}" %>	
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                    <%= link_to "Home", root_path, class: "nav-item nav-link #{@home == 'home' ? 'active' : ''}" %>	
                </li>
                <li class="nav-item">
                    <%= link_to "All Products", products_path, class: "nav-item nav-link #{@home == 'products' ? 'active' : ''}" %>	
                </li>
                <li class="nav-item">
                    <%= link_to "Products by categories", categories_path, class: "nav-item nav-link #{@home == 'products' ? 'active' : ''}" %>	
                </li>
            </ul>
            <%= search_form_for @q do |f| %>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                <%= f.search_field :name_cont, class:"form-control", placeholder:"Search ..." %>
                </div>
                </form>
                <% end %>
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-info btn-lg btn-sm ml-3" href="cart">
                    <i class="bi bi-cart"></i> Cart
                    <span class="badge badge-light">3</span>
                </a>
                <% if current_user %>
                <a class="btn btn-outline-info btn-sm ml-3 ">
                <%= current_user.username%>
                </a>
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"btn btn-info btn-sm ml-3" %>
                <% else %>
                  <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-info btn-sm ml-3" %>
                  <%= link_to "Sign In", new_user_session_path, class:"btn btn-info btn-sm ml-3" %>
                <% end %>
            </form>
        </div>
    </div>
</nav>